$navbar-height:                    50px;
$navbar-color:                     #777;
$navbar-bg:                        #eee;
$navbar-padding-horizontal:        floor($grid-gutter-width / 2);
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);

// Navbar links
$navbar-link-color:                #777;
$navbar-link-hover-color:          #333;
$navbar-link-hover-bg:             transparent;
$navbar-link-active-color:         #555;
$navbar-link-active-bg:            darken($navbar-bg, 10%);
$navbar-link-disabled-color:       #ccc;
$navbar-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-brand-color:               $navbar-link-color;
$navbar-brand-hover-color:         darken($navbar-link-color, 10%);
$navbar-brand-hover-bg:            transparent;

@mixin superfish($color: $navbar-link-color, $active: $navbar-link-active-color, $bg-active: $navbar-link-active-bg, $desc: $navbar-color, $bg: $navbar-bg, $bg1: $navbar-bg, $bg2: $navbar-bg){
	.sf-style-none {
	  float: left;
	  margin: 0;
	  padding: 0;
	}
	.sf-style-none.sf-navbar {
	  width: 100%;
	}
	.sf-style-none ul {
	  padding-left: 0;
	}
	.sf-style-none a  {
	  color: $color;
	  padding: 0.75em 1em;
	}
	.sf-style-none a.sf-with-ul {
	  padding-right: 2.25em;
	}
	.sf-style-none.rtl a.sf-with-ul {
	  padding-left: 2.25em;
	  padding-right: 1em;
	}
	.sf-style-none span.sf-description {
	  color: $desc;
	  display: block;
	  font-size: 0.8em;
	  line-height: 1.5em;
	  margin: 5px 0 0 5px;
	  padding: 0;
	}
	.sf-style-none li,
	.sf-style-none.sf-navbar {
	  background: $bg;
	}

	.sf-style-none li a,
	.sf-style-none.sf-navbar li a{
		padding: $navbar-padding-vertical $navbar-padding-horizontal;
	}



	.sf-style-none li li {
	  background: $bg1;
	}
	.sf-style-none li li li {
	  background: $bg2;
	}
	.sf-style-none li:hover,
	.sf-style-none li.sfHover,
	.sf-style-none a:focus,
	.sf-style-none a:hover,
	.sf-style-none a:active {
	  background: $bg-active;
	  color: $active;
	  outline: 0;
	}
	.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol,
	.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	  margin: 0;
	  padding: 0;
	}
	.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
	  font-weight: bold;
	}
	.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	  display: inline;
	  float: left;
	  width: 12em;
	}
	.sf-style-none.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	  float: right;
	}
	.sf-style-none li.sf-parent-children-1 ul.sf-megamenu {
	  width: 12em;
	}
	.sf-style-none li.sf-parent-children-2 ul.sf-megamenu {
	  width: 24em;
	}
	.sf-style-none li.sf-parent-children-3 ul.sf-megamenu {
	  width: 36em;
	}
	.sf-style-none li.sf-parent-children-4 ul.sf-megamenu {
	  width: 48em;
	}
	.sf-style-none li.sf-parent-children-5 ul.sf-megamenu {
	  width: 60em;
	}
	.sf-style-none li.sf-parent-children-6 ul.sf-megamenu {
	  width: 72em;
	}
	.sf-style-none li.sf-parent-children-7 ul.sf-megamenu {
	  width: 84em;
	}
	.sf-style-none li.sf-parent-children-8 ul.sf-megamenu {
	  width: 96em;
	}
	.sf-style-none li.sf-parent-children-9 ul.sf-megamenu {
	  width: 108em;
	}
	.sf-style-none li.sf-parent-children-10 ul.sf-megamenu {
	  width: 120em;
	}
}

