// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";

.sidebar-first {
  #content {
    @include make-sm-column(9);
    @include make-sm-column-push(3);
  }
  .region-sidebar-first {
    @include make-sm-column(3);
    @include make-sm-column-pull(9);
  }
}
.sidebar-second {
  #content {
    @include make-sm-column(9);
  }
  .region-sidebar-second {
    @include make-sm-column(3);
  }
}
.two-sidebars {
  #content {
    @include make-md-column(8);
    @include make-md-column-push(2);
  }
  .region-sidebar-first {
    @include make-sm-column(6);
    @include make-md-column(2);
    @include make-md-column-pull(8);
  }
  .region-sidebar-second {
    @include make-sm-column(6);
    @include make-md-column(2);
  }
}

#footer {
	.region-footer-first, .region-footer-second, .region-footer-third, .region-footer-fourth { @include make-md-column(3); }
}

	.region-footer { text-align: center; }


@import "bootstrap/tables";
@import "bootstrap/forms";
.form-item { 
	@extend .form-group;
	input, select, textarea { @extend .form-control;  }
	select { @extend .input-sm; }
	.description { @extend .help-block; }
	.error { @extend .has-error; }
}
	.form-checkbox { @extend .checkbox; }
	.form-radio { @extend .radio; }
	.form-text { @extend .input-lg; }
@import "bootstrap/buttons";
.form-submit { @extend .btn; @extend .btn-primary; }
ul.inline { 
	@extend .list-unstyled;
	margin: 1.5em 0;
	li { display: inline; margin-right: 1em; }
}
// .node ul.links a { @extend .btn; @extend .btn-default; }
.node-readmore a { @extend .btn; @extend .btn-primary; }
.comment-comments a { @extend .btn; @extend .btn-info; }
.comment_forbidden { 
	font-style: italic; 
}
.node ul.links .last { float: right; }
// Components
/* @import "component-animations"; */
/* @import "glyphicons"; */
/* @import "dropdowns"; */
/* @import "button-groups"; */
/* @import "input-groups"; */
@import "bootstrap/navs";
nav, .menu { @extend .nav; }
.sf-menu ul {@extend .nav; }
.tabs { @extend .nav; @extend .nav-tabs; margin-bottom: 1em;}
/* @import "navbar"; */

@import "bootstrap/breadcrumbs";
/* @import "pagination"; */
/* @import "pager"; */
@import "bootstrap/labels";
.field-tags a { @extend .label; @extend .label-primary; }
ul.field-tags { list-style: none; li { display: inline; margin-right: 1em;} }

@import "bootstrap/badges";
/* @import "jumbotron"; */
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
/* @import "progress-bars"; */
/* @import "media"; */
/* @import "list-group"; */
@import "bootstrap/panels";
@import "bootstrap/wells";
/* @import "close"; */

// Components w/ JavaScript
/* @import "modals"; */
/* @import "tooltip"; */
/* @import "popovers"; */
/* @import "carousel"; */

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";



// Superfish
@import "components/superfish";
$navbar-height:                    50px;
$navbar-color:                     #777;
$navbar-bg:                        #eee;
$navbar-padding-horizontal:        floor($grid-gutter-width / 2);
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);

// Navbar links
$navbar-link-color:                #777;
$navbar-link-hover-color:          #333;
$navbar-link-hover-bg:             transparent;
$navbar-link-active-color:         #555;
$navbar-link-active-bg:            darken($navbar-bg, 10%);
$navbar-link-disabled-color:       #ccc;
$navbar-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-brand-color:               $navbar-link-color;
$navbar-brand-hover-color:         darken($navbar-link-color, 10%);
$navbar-brand-hover-bg:            transparent;

#block-superfish-1 { @include superfish($navbar-link-color, $navbar-link-active-color, $navbar-link-active-bg, $navbar-bg, darken($navbar-bg, 5), darken($navbar-bg, 10)); }

@mixin list-border($bg){
//	border-top: 1px solid lighten($bg, 5);
	padding: 0;
	li {
		border-bottom: 1px solid lighten($bg, 5);
		padding: 0.5em 0.5em 0.5em 3em;
		list-style-type: none;
		background: transparent image-url("list.png") no-repeat center left;
	}
}

.sidebars {
	.block {
		@extend .panel;
		&.odd { @extend .panel-success; }
		&.even { @extend .panel-info; }
	}
		.block-heading { @extend .panel-heading; }
		.block-title { @extend .panel-title; }
		.block-content { @extend .panel-body; }
}


#footer {
	border-top: 0.5em solid $brand-primary; 
	background: #333; 
	color: #fff;
	padding: 1.5em 0;
	a { 
		color: LightYellow; 
		&:hover, &:active, &:focus { color: #fff; text-decoration: underline; }
	}
	.view-content ul { @include list-border(#333); }
}
