
@mixin list-1($bg){
	border-top: 1px solid lighten($bg, 5);
	padding: 0;
	li {
		border-bottom: 1px solid lighten($bg, 5);
		padding: 0.5em 0.5em 0.5em 3em;
		list-style-type: none;
		background: transparent image-url("list-1.png") no-repeat center left;
	}
}


@mixin list-2($bg){
	padding: 0;
	li {
		padding: 0.5em 0.5em 0.5em 3em;
		list-style-type: none;
		background: transparent image-url("list-2.png") no-repeat center left;
	}
}
