/**
* Theme template for Dp7vi themes
**/

@mixin list-border($bg){
//	border-top: 1px solid lighten($bg, 5);
	padding: 0;
	li {
		border-bottom: 1px solid lighten($bg, 5);
		padding: 0.5em 0.5em 0.5em 3em;
		list-style-type: none;
		background: transparent image-url("list.png") no-repeat center left;
	}
}

/*
.sidebars {
	.block {
		@extend .panel;
		&.odd { @extend .panel-success; }
		&.even { @extend .panel-info; }
	}
		.block-heading { @extend .panel-heading; }
		.block-title { @extend .panel-title; }
		.block-content { @extend .panel-body; }
}
*/
.top .container {
	background: $text-color; 
	color: invert($text-color);
	a { 
		color: invert($link-color); 
		&:hover, &:active, &:focus { color: invert($link-hover-color); text-decoration: underline; }
	}

}
.footer {
	border-top: 0.5em solid $brand-primary; 
	background: $text-color; 
	color: invert($text-color);
	padding: 1.5em 0;
	a { 
		color: invert($link-color); 
		&:hover, &:active, &:focus { color: invert($link-hover-color); text-decoration: underline; }
	}
	.pager {
		a, span { background: invert($pagination-bg); }
		a:hover, a:focus, a:active { background: invert($pagination-hover-bg); }
		
	}
	.view-content ul { @include list-border(#333); }
}
