/* Effective stylesheet produced by snapshot save */
.tag-cloud { text-align: justify; }
#content ul.tag-cloud, #content ul.tag-cloud li, ul.tag-cloud, ul.tag-cloud li { display: inline; margin: 0px; padding: 0px 0.25em 0px 0px; }
.level1 { font-size: 1em; }
.level2 { font-size: 1.2em; }
.level3 { font-size: 1.4em; }
.level6 { font-size: 2em; }
